@import "./base.css";

#app {
  width: 1366px;
}

@media screen and (min-width: 1366px) {
  #app {
    width: 100%;
  }
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  width: 113px;
  height: 44px;
  background: linear-gradient(93.69deg, #2d56ec -14.13%, #1aacea 120.91%),
    #1353dd;
  border-radius: 4px;
  border-color: #2d56ec;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 128%;
  color: #f8fafc;
  cursor: pointer;
}
